<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
				<key>dateExpires</key>
				<string>22/12/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.15.4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MapboxCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>24.15.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11.15.4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MapboxMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>38</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3574</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZIM.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>2.23.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2084</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZPNs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>42867</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZegoConnection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>6.35.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>46141</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZegoExpressEngine.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>3.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZegoUIKitReport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF937C9B041738678A5254D4954D71FDD40199C4</string>
						<key>dateExpires</key>
						<string>22/12/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W42K4VTK33</string>
						<key>name</key>
						<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W42K4VTK33.com.ngocthb.ewise</string>
				<key>com.apple.developer.team-identifier</key>
				<string>W42K4VTK33</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>mobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a1243786-0393-41a9-a1e3-7f4af6dffb69</string>
				<key>dateExpires</key>
				<string>22/12/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W42K4VTK33</string>
				<key>name</key>
				<string>REVA ENTERPRISE SOLUTIONS DEVELOPMENT JOINT STOCK COMPANY</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
